@import "src/assets/styles/var";
@import "src/assets/styles/mixins";

.wrapper {
  @include Wrapper();
  margin: 0 auto;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.link {
  @include Button();
  margin-right: 20px;
}
