//noinspection CssInvalidAtRule
@import-normalize; /* bring in normalize.css styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 1px dashed tomato;
}

html {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  overflow: hidden;
}
