@import "src/assets/styles/var";

@mixin Wrapper {
  width: $wrapper;

  @media screen and (max-width: $wrapper) {
    width: $wrapper-sm;
  }
}

@mixin Button {
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid $color-main-black;
  background-color: #fff;
  color: $color-main-black;
  cursor: pointer;
  transition: all $transition-time;
  text-decoration: none;

  &:hover {
    border-radius: 0;
    color: $color-main-yellow;
    background-color:$color-main-black;
    transition: all $transition-time;
  }

  &:active {
    border-radius: 0;
    color: $color-main-active;
    background-color:$color-main-black;
    transition: all $transition-time;
  }

  &:disabled {
    opacity: 0.3;
    transition: all $transition-time;
  }
}


@mixin Shadow {
  box-shadow: -3px 5px 14px 4px rgba(0, 0, 0, 0.18);
}

@mixin Scroll {
  &::-webkit-scrollbar {
    width: 4px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
