$color-main-black:                          #24292e;
$color-main-yellow:                         #f7df1e;
$color-main-active:                         #ff6347;


$wrapper:                                   680px;
$wrapper-sm:                                90%;
$size-header-height:                        40px;
$transition-time:                           400ms
